<a href="https://colab.research.google.com/github/mnocerino23/Wildfire-Forecaster/blob/main/wildfires.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Read in dataset queryed from SQL database into Pandas:

In [826]:
#The dataset comes from a SQLite database found on Kaggle: https://www.kaggle.com/datasets/rtatman/188-million-us-wildfires
#I performed this query in SQLite than exported the results to the csv file we read in below
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
wildfires = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CA_wildfires_since2000.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [827]:
wildfires.head(10)

,OBJECTID,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,SOURCE_REPORTING_UNIT_NAME,FIRE_NAME,FIRE_YEAR,DISCOVERY_DOY,CONT_DOY,STAT_CAUSE_DESCR,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_DESCR,STATE,COUNTY,FIPS_NAME
0,1,USCAPNF,Plumas National Forest,0511,Plumas National Forest,FOUNTAIN,2005,33,33.0,Miscellaneous,0.10,A,40.036944,-121.005833,USFS,CA,63,Plumas
1,2,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,PIGEON,2004,133,133.0,Lightning,0.25,A,38.933056,-120.404444,USFS,CA,61,Placer
2,3,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,SLACK,2004,152,152.0,Debris Burning,0.10,A,38.984167,-120.735556,STATE OR PRIVATE,CA,17,El Dorado
3,4,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,DEER,2004,180,185.0,Lightning,0.10,A,38.559167,-119.913333,USFS,CA,3,Alpine
4,5,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,STEVENOT,2004,180,185.0,Lightning,0.10,A,38.559167,-119.933056,USFS,CA,3,Alpine
5,6,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,HIDDEN,2004,182,183.0,Lightning,0.10,A,38.635278,-120.103611,USFS,CA,5,Amador
6,7,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,FORK,2004,183,184.0,Lightning,0.10,A,38.688333,-120.153333,USFS,CA,17,El Dorado
7,8,USCASHF,Shasta-Trinity National Forest,0514,Shasta-Trinity National Forest,SLATE,2005,67,67.0,Debris Burning,0.80,B,40.968056,-122.433889,STATE OR PRIVATE,CA,NaN,NaN
8,9,USCASHF,Shasta-Trinity National Forest,0514,Shasta-Trinity National Forest,SHASTA,2005,74,74.0,Debris Burning,1.00,B,41.233611,-122.283333,STATE OR PRIVATE,CA,NaN,NaN
9,10,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,TANGLEFOOT,2004,183,184.0,Lightning,0.10,A,38.548333,-120.149167,USFS,CA,5,Amador

In [828]:
#Print the shape of the data: Here we see we have data on over 110,000
#California wildfires since 2000
wildfires.shape

(114558, 18)

In [829]:
wildfires.drop(['OBJECTID', 'NWCG_REPORTING_UNIT_ID', 'NWCG_REPORTING_UNIT_NAME', 'SOURCE_REPORTING_UNIT', 'NWCG_REPORTING_UNIT_NAME'], axis = 1, inplace = True)

In [830]:
#Use the pandas info function to get an overview of the different features within the dataset and their datatypes as well as NaN counts
wildfires.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114558 entries, 0 to 114557
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   SOURCE_REPORTING_UNIT_NAME  114558 non-null  object
 1   FIRE_NAME                   103308 non-null  object
 2   FIRE_YEAR                   114558 non-null  int64
 3   DISCOVERY_DOY               114558 non-null  int64
 4   CONT_DOY                    61574 non-null   float64
 5   STAT_CAUSE_DESCR            114558 non-null  object
 6   FIRE_SIZE                   114558 non-null  float64
 7   FIRE_SIZE_CLASS             114558 non-null  object
 8   LATITUDE                    114558 non-null  float64
 9   LONGITUDE                   114558 non-null  float64
 10  OWNER_DESCR                 114558 non-null  object
 11  STATE                       114558 non-null  object
 12  COUNTY                      51834 non-null   object
 13  FIPS_NAME                   51834 non-null   object
dtypes: float64(4), int64(2), object(8)
memory usage: 12.2+ MB

In [831]:
wildfires.describe()

,FIRE_YEAR,DISCOVERY_DOY,CONT_DOY,FIRE_SIZE,LATITUDE,LONGITUDE
count,114558.000000,114558.000000,61574.000000,114558.000000,114558.000000,114558.000000
mean,2007.922380,197.569450,200.625231,80.792444,37.495814,-120.259658
std,4.293784,68.558497,67.587688,2446.430633,2.551040,2.129471
min,2001.000000,1.000000,1.000000,0.001000,32.544965,-124.402883
25%,2004.000000,159.000000,164.000000,0.100000,35.425000,-121.770258
50%,2008.000000,198.000000,203.000000,0.250000,37.697311,-120.596944
75%,2012.000000,244.000000,245.000000,1.000000,39.458972,-118.754703
max,2015.000000,366.000000,366.000000,315578.800000,42.038090,-114.155500

Take note of a few things here:
1. The average wildfire size in this dataset is 81 acres
2. most fires last around 2.5 days
3. The mean discovery date of year for California wildfires is 197, which corresponds to July 16th


---



Another consideration: this database only contains fires from 2001 - 2015. We will join it with a second dataset that has fires from 2013-2020 also from Kaggle(https://www.kaggle.com/datasets/ananthu017/california-wildfire-incidents-20132020)

In [832]:
#Read in second Kaggle dataset to add more recent wildfires (2016-2020) onto our existing dataset
wildfires2 = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/California_Fire_Incidents.csv', usecols = [0,2,4,9,10,14,21,23,25,31])

In [833]:
wildfires2.head()

,AcresBurned,AdminUnit,ArchiveYear,Counties,CountyIds,Extinguished,Latitude,Longitude,Name,Started
0,257314.0,Stanislaus National Forest/Yosemite National Park,2013,Tuolumne,55,2013-09-06T18:30:00Z,37.857000,-120.086000,Rim Fire,2013-08-17T15:25:00Z
1,30274.0,USFS Angeles National Forest/Los Angeles Count...,2013,Los Angeles,19,2013-06-08T18:30:00Z,34.585595,-118.423176,Powerhouse Fire,2013-05-30T15:28:00Z
2,27531.0,CAL FIRE Riverside Unit / San Bernardino Natio...,2013,Riverside,33,2013-07-30T18:00:00Z,33.709500,-116.728850,Mountain Fire,2013-07-15T13:43:00Z
3,27440.0,Tahoe National Forest,2013,Placer,31,2013-08-30T08:00:00Z,39.120000,-120.650000,American Fire,2013-08-10T16:30:00Z
4,24251.0,Ventura County Fire/CAL FIRE,2013,Ventura,56,2013-05-11T06:30:00Z,0.000000,0.000000,Springs Fire,2013-05-02T07:01:00Z

Rename Columns so that we can easily combine the two datasets:

In [834]:
wildfires.rename(columns = {'FIRE_SIZE':'AcresBurned', 'FIRE_YEAR':'Year', 'FIRE_NAME':'Name', 'DISCOVERY_DOY':'Discovered DOY'
                  ,'CONT_DOY':'Contained DOY', 'STAT_CAUSE_DESCR':'Cause','LATITUDE':'Latitude', 'LONGITUDE': 'Logitude', 'COUNTY':'CountyIds',
                  'STATE':'State','FIRE_SIZE_CLASS': 'Fire Size Rank', 'FIPS_NAME': 'County'
                  }, inplace = True)
wildfires2.rename(columns = {'ArchiveYear':'Year', 
                             'Started':'Discovered DOY', 'Extinguished':'Contained DOY', 'Counties': 'County'},
                  inplace = True)

In [835]:
wildfires.head(20)

,SOURCE_REPORTING_UNIT_NAME,Name,Year,Discovered DOY,Contained DOY,Cause,AcresBurned,Fire Size Rank,Latitude,Logitude,OWNER_DESCR,State,CountyIds,County
0,Plumas National Forest,FOUNTAIN,2005,33,33.0,Miscellaneous,0.10,A,40.036944,-121.005833,USFS,CA,63,Plumas
1,Eldorado National Forest,PIGEON,2004,133,133.0,Lightning,0.25,A,38.933056,-120.404444,USFS,CA,61,Placer
2,Eldorado National Forest,SLACK,2004,152,152.0,Debris Burning,0.10,A,38.984167,-120.735556,STATE OR PRIVATE,CA,17,El Dorado
3,Eldorado National Forest,DEER,2004,180,185.0,Lightning,0.10,A,38.559167,-119.913333,USFS,CA,3,Alpine
4,Eldorado National Forest,STEVENOT,2004,180,185.0,Lightning,0.10,A,38.559167,-119.933056,USFS,CA,3,Alpine
5,Eldorado National Forest,HIDDEN,2004,182,183.0,Lightning,0.10,A,38.635278,-120.103611,USFS,CA,5,Amador
6,Eldorado National Forest,FORK,2004,183,184.0,Lightning,0.10,A,38.688333,-120.153333,USFS,CA,17,El Dorado
7,Shasta-Trinity National Forest,SLATE,2005,67,67.0,Debris Burning,0.80,B,40.968056,-122.433889,STATE OR PRIVATE,CA,NaN,NaN
8,Shasta-Trinity National Forest,SHASTA,2005,74,74.0,Debris Burning,1.00,B,41.233611,-122.283333,STATE OR PRIVATE,CA,NaN,NaN
9,Eldorado National Forest,TANGLEFOOT,2004,183,184.0,Lightning,0.10,A,38.548333,-120.149167,USFS,CA,5,Amador
10,Eldorado National Forest,FORK #2,2004,184,185.0,Lightning,0.10,A,38.691667,-120.159722,USFS,CA,17,El Dorado
11,Eldorado National Forest,MOKE #2,2004,184,185.0,Lightning,0.10,A,38.527500,-120.106111,USFS,CA,5,Amador
12,Eldorado National Forest,WRIGHTS,2004,247,247.0,Miscellaneous,0.10,A,38.786667,-120.193333,USFS,CA,17,El Dorado
13,Eldorado National Forest,TIGER,2004,272,272.0,Campfire,6.00,B,38.433333,-120.510000,MISSING/NOT SPECIFIED,CA,5,Amador
14,Eldorado National Forest,BROWN,2004,277,277.0,Lightning,0.20,A,38.675833,-120.279722,USFS,CA,17,El Dorado
15,Eldorado National Forest,SOPIAGO,2004,277,277.0,Lightning,0.10,A,38.564167,-120.542222,USFS,CA,17,El Dorado
16,Eldorado National Forest,POWER,2004,280,295.0,Equipment Use,16823.00,G,38.523333,-120.211667,USFS,CA,5,Amador
17,Eldorado National Forest,FREDS,2004,287,291.0,Equipment Use,7700.00,G,38.780000,-120.260000,USFS,CA,17,El Dorado
18,Eldorado National Forest,HARTLESS,2004,325,326.0,Debris Burning,0.10,A,38.945000,-120.411667,STATE OR PRIVATE,CA,17,El Dorado
19,Six Rivers National Forest,LINTO,2005,178,178.0,Debris Burning,0.10,A,41.037222,-123.533056,USFS,CA,NaN,NaN

In [836]:
wildfires2.head(20)
#We need to add features fire size class, discovery DOY and contained DOY to the wildfires2 dataset
#and ensure the county labels are consistent between both datasets

,AcresBurned,AdminUnit,Year,County,CountyIds,Contained DOY,Latitude,Longitude,Name,Discovered DOY
0,257314.0,Stanislaus National Forest/Yosemite National Park,2013,Tuolumne,55,2013-09-06T18:30:00Z,37.857000,-120.086000,Rim Fire,2013-08-17T15:25:00Z
1,30274.0,USFS Angeles National Forest/Los Angeles Count...,2013,Los Angeles,19,2013-06-08T18:30:00Z,34.585595,-118.423176,Powerhouse Fire,2013-05-30T15:28:00Z
2,27531.0,CAL FIRE Riverside Unit / San Bernardino Natio...,2013,Riverside,33,2013-07-30T18:00:00Z,33.709500,-116.728850,Mountain Fire,2013-07-15T13:43:00Z
3,27440.0,Tahoe National Forest,2013,Placer,31,2013-08-30T08:00:00Z,39.120000,-120.650000,American Fire,2013-08-10T16:30:00Z
4,24251.0,Ventura County Fire/CAL FIRE,2013,Ventura,56,2013-05-11T06:30:00Z,0.000000,0.000000,Springs Fire,2013-05-02T07:01:00Z
5,22992.0,Sierra National Forest,2013,Fresno,10,2013-09-24T20:15:00Z,37.279000,-119.318000,Aspen Fire,2013-07-22T22:15:00Z
6,20292.0,CAL FIRE Riverside Unit / San Bernardino Natio...,2013,Riverside,33,2013-08-12T18:00:00Z,33.861570,-116.904270,Silver Fire,2013-08-07T14:05:00Z
7,14754.0,Klamath National Forest,2013,Siskiyou,47,2013-08-31T06:45:00Z,41.320000,-123.176000,Salmon River Complex,2013-07-31T22:00:00Z
8,12503.0,Six Rivers National Forest,2013,Humboldt,12,2013-08-12T12:00:00Z,41.035000,-123.488000,Corral Complex,2013-08-10T11:40:00Z
9,11429.0,CAL FIRE Tehama-Glenn Unit,2013,Tehama,52,2013-08-29T16:45:00Z,40.042630,-121.853970,Deer Fire,2013-08-23T14:15:00Z
10,8073.0,CAL FIRE Shasta-Trinity Unit,2013,Shasta,45,2013-09-15T07:30:00Z,40.498332,-122.535496,Clover Fire,2013-09-09T12:32:00Z
11,7055.0,CAL FIRE San Diego Unit / Cleveland National F...,2013,San Diego,37,2013-07-15T06:15:00Z,32.954350,-116.473810,Chariot Fire,2013-07-06T12:55:00Z
12,6965.0,CAL FIRE Butte Unit,2013,Tehama,52,2013-05-09T09:00:00Z,40.190062,-121.595555,Panther Fire,2013-05-01T09:12:00Z
13,4346.0,CAL FIRE / USFS Los Padres National Forest,2013,Kern,"15,56",2013-05-21T19:45:00Z,34.786100,-118.941100,Grand Fire,2013-05-15T12:50:00Z
14,4346.0,CAL FIRE / USFS Los Padres National Forest,2013,Ventura,"15,56",2013-05-21T19:45:00Z,34.786100,-118.941100,Grand Fire,2013-05-15T12:50:00Z
15,3505.0,CAL FIRE Sonoma-Lake-Napa Unit,2013,Sonoma,49,2013-11-27T18:15:00Z,38.816700,-122.849800,McCabe Fire,2013-11-22T02:04:00Z
16,3166.0,CAL FIRE/Riverside County Fire,2013,Riverside,33,2013-05-04T18:30:00Z,34.288877,-116.941311,Summit Fire,2013-05-01T12:38:00Z
17,3111.0,CAL FIRE Santa-Clara Unit,2013,Contra Costa,7,2013-09-14T17:30:00Z,37.907570,-121.882582,Morgan Fire,2013-09-08T13:08:00Z
18,2781.0,CAL FIRE San Diego Unit,2013,San Diego,37,2013-05-26T17:45:00Z,33.121110,-116.525790,San Felipe Fire,2013-05-23T12:20:00Z
19,2462.0,CAL FIRE Butte Unit,2013,Butte,4,2013-08-22T18:00:00Z,39.446268,-121.382360,Swedes Fire,2013-08-16T16:37:00Z

The second dataset has information on Discovery DOY, Contained DOY, CountyIds, but it's in a different format so we will need to clear things up and make both datasets consistent before combining.

In [837]:
wildfires2.astype({'Contained DOY': 'str', 'Discovered DOY': 'str'}).dtypes

for index, row in wildfires2.iterrows():
  date = wildfires2.at[index,'Discovered DOY']
  year_month_date = ''
  for i in (range(10)):
    year_month_date += date[i]
  #print(year_month_date)
  wildfires2.at[index,'Discovered DOY'] = year_month_date

for index, row in wildfires2.iterrows():
  date = wildfires2.at[index,'Contained DOY']
  if type(date) == str:
    year_month_date = ''
    for i in (range(10)):
      year_month_date += date[i]
    #print(year_month_date)
    wildfires2.at[index,'Contained DOY'] = year_month_date
  else:
    wildfires2.at[index,'Contained DOY'] = 'NaN'

In [838]:
wildfires2.head(20)

,AcresBurned,AdminUnit,Year,County,CountyIds,Contained DOY,Latitude,Longitude,Name,Discovered DOY
0,257314.0,Stanislaus National Forest/Yosemite National Park,2013,Tuolumne,55,2013-09-06,37.857000,-120.086000,Rim Fire,2013-08-17
1,30274.0,USFS Angeles National Forest/Los Angeles Count...,2013,Los Angeles,19,2013-06-08,34.585595,-118.423176,Powerhouse Fire,2013-05-30
2,27531.0,CAL FIRE Riverside Unit / San Bernardino Natio...,2013,Riverside,33,2013-07-30,33.709500,-116.728850,Mountain Fire,2013-07-15
3,27440.0,Tahoe National Forest,2013,Placer,31,2013-08-30,39.120000,-120.650000,American Fire,2013-08-10
4,24251.0,Ventura County Fire/CAL FIRE,2013,Ventura,56,2013-05-11,0.000000,0.000000,Springs Fire,2013-05-02
5,22992.0,Sierra National Forest,2013,Fresno,10,2013-09-24,37.279000,-119.318000,Aspen Fire,2013-07-22
6,20292.0,CAL FIRE Riverside Unit / San Bernardino Natio...,2013,Riverside,33,2013-08-12,33.861570,-116.904270,Silver Fire,2013-08-07
7,14754.0,Klamath National Forest,2013,Siskiyou,47,2013-08-31,41.320000,-123.176000,Salmon River Complex,2013-07-31
8,12503.0,Six Rivers National Forest,2013,Humboldt,12,2013-08-12,41.035000,-123.488000,Corral Complex,2013-08-10
9,11429.0,CAL FIRE Tehama-Glenn Unit,2013,Tehama,52,2013-08-29,40.042630,-121.853970,Deer Fire,2013-08-23
10,8073.0,CAL FIRE Shasta-Trinity Unit,2013,Shasta,45,2013-09-15,40.498332,-122.535496,Clover Fire,2013-09-09
11,7055.0,CAL FIRE San Diego Unit / Cleveland National F...,2013,San Diego,37,2013-07-15,32.954350,-116.473810,Chariot Fire,2013-07-06
12,6965.0,CAL FIRE Butte Unit,2013,Tehama,52,2013-05-09,40.190062,-121.595555,Panther Fire,2013-05-01
13,4346.0,CAL FIRE / USFS Los Padres National Forest,2013,Kern,"15,56",2013-05-21,34.786100,-118.941100,Grand Fire,2013-05-15
14,4346.0,CAL FIRE / USFS Los Padres National Forest,2013,Ventura,"15,56",2013-05-21,34.786100,-118.941100,Grand Fire,2013-05-15
15,3505.0,CAL FIRE Sonoma-Lake-Napa Unit,2013,Sonoma,49,2013-11-27,38.816700,-122.849800,McCabe Fire,2013-11-22
16,3166.0,CAL FIRE/Riverside County Fire,2013,Riverside,33,2013-05-04,34.288877,-116.941311,Summit Fire,2013-05-01
17,3111.0,CAL FIRE Santa-Clara Unit,2013,Contra Costa,7,2013-09-14,37.907570,-121.882582,Morgan Fire,2013-09-08
18,2781.0,CAL FIRE San Diego Unit,2013,San Diego,37,2013-05-26,33.121110,-116.525790,San Felipe Fire,2013-05-23
19,2462.0,CAL FIRE Butte Unit,2013,Butte,4,2013-08-22,39.446268,-121.382360,Swedes Fire,2013-08-16

In [839]:
#Use Python's datetime library to handle the dates and create new columns to hold discovery and contained months in addition to day of the year for the two
wildfires2['Discovery Month'] = ''
wildfires2['Discovery DOY'] = ''
wildfires2['Contained Month'] = ''
wildfires2['Contained_DOY'] = ''

In [840]:
import datetime
from datetime import datetime

for index, row in wildfires2.iterrows():
  date_discov = wildfires2.at[index, "Discovered DOY"]
  date_usable = datetime.strptime(date_discov, '%Y-%m-%d')

  wildfires2.at[index, "Discovery Month"] = date_usable.strftime("%b")
  wildfires2.at[index, "Discovery DOY"] = date_usable.strftime("%j")

  date_contained = wildfires2.at[index, "Contained DOY"]
  if date_contained != 'NaN':
    date_usable2 = datetime.strptime(date_contained, '%Y-%m-%d')

    wildfires2.at[index, "Contained Month"] = date_usable2.strftime("%b")
    wildfires2.at[index, "Contained_DOY"] = date_usable2.strftime("%j")
wildfires2.drop(['Contained DOY', 'Discovered DOY'], axis = 1, inplace = True)

In [841]:
wildfires2.head(2)

,AcresBurned,AdminUnit,Year,County,CountyIds,Latitude,Longitude,Name,Discovery Month,Discovery DOY,Contained Month,Contained_DOY
0,257314.0,Stanislaus National Forest/Yosemite National Park,2013,Tuolumne,55,37.857000,-120.086000,Rim Fire,Aug,229,Sep,249
1,30274.0,USFS Angeles National Forest/Los Angeles Count...,2013,Los Angeles,19,34.585595,-118.423176,Powerhouse Fire,May,150,Jun,159

In [842]:
for index, rows in wildfires2.iterrows():
  wildfires2.at[index, 'Discovery DOY'] = int(wildfires2.at[index, 'Discovery DOY'])
  if wildfires2.at[index,'Contained_DOY'] != '':
    wildfires2.at[index, 'Contained_DOY'] = int(wildfires2.at[index, 'Contained_DOY'])

#Add a new feature for the number of days the fire burns uncontained
wildfires2['DaysBurn'] = ''

#Subtract for all non empty values of Contained_DOY to calculate the days each fire burned
for index, rows in wildfires2.iterrows():
  if type(wildfires2.at[index, 'Contained_DOY']) == type(wildfires2.at[index, 'Discovery DOY']):
    wildfires2.at[index, 'DaysBurn'] = wildfires2.at[index,'Contained_DOY'] - wildfires2.at[index,'Discovery DOY']

In [843]:
#Now we will sort out any inconsistencies between the county codes in the two datasets
#Create a dictionary mapping california counties to their Ids
counties = dict(zip(wildfires2['County'],wildfires2['CountyIds']))
print(counties)

{'Tuolumne': '55', 'Los Angeles': '19', 'Riverside': '33', 'Placer': '31', 'Ventura': '56', 'Fresno': '10', 'Siskiyou': '47', 'Humboldt': '12', 'Tehama': '52', 'Shasta': '45', 'San Diego': '37', 'Kern': '15', 'Sonoma': '49', 'Contra Costa': '7', 'Butte': '4', 'Tulare': '54', 'Santa Barbara': '42', 'Mariposa': '22', 'Monterey': '27', 'El Dorado': '9', 'San Bernardino': '36', 'Plumas': '32', 'Modoc': '25', 'San Luis Obispo': '40', 'Madera': '20', 'Inyo': '14', 'Napa': '28', 'San Benito': '35', 'San Joaquin': '39', 'Lake': '17', 'Alameda': '1', 'Glenn': '11', 'Yolo': '57', 'Sacramento': '34', 'Stanislaus': '50', 'Solano': '48', 'Merced': '24', 'Mendocino': '23', 'Lassen': '18', 'Amador': '3', 'Yuba': '58', 'Nevada': '29', 'Santa Clara': '43', 'Calaveras': '5', 'San Mateo': '41', 'Orange': '30', 'Colusa': '6', 'Trinity': '53', 'Del Norte': '8', 'Mono': '26', 'Alpine': '2', 'Sutter': '51', 'Kings': '16', 'Sierra': '46', 'Santa Cruz': '44', 'Marin': '21', 'Mexico': '62,37', 'State of Oregon': '61', 'State of Nevada': '59'}

In [844]:
#When looking through the counties dictionary we see that Mexico, State of Oregon, and State of Nevada are included in 
#Although caltrain may have assisted in this firefighting efforts, we want to drop them from the dataset as we are exploring 
#only fires in the State of California. We also want to restrict to

In [845]:
#We use this chunk of code to remove four fires from the dataset that weren't actually in california
invalid_counties = ['Mexico', 'State of Oregon', 'State of Nevada']
print(len(wildfires2['County']))
for index, row in wildfires2.iterrows():
  if wildfires2.at[index,'County'] in invalid_counties:
    wildfires2.drop(index, inplace = True)
print(len(wildfires2['County']))

1636
1632

County codes in the first dataset are off for some reason so we have to correct them using the map of the counties dictionary

In [846]:
wildfires = wildfires.CountyIds.apply(lambda x: counties[x])

KeyError: ignored

We also can add on fire size class to the second dataset using the criteria provided by the database.. As described by the database the classes are as follows: 

A=greater than 0 but less than or equal to 0.25 acres
B=0.26-9.9 acres
C=10.0-99.9 acres
D=100-299 acres
E=300 to 999 acres
F=1000 to 4999 acres
G=5000+ acres

In [ ]:
wildfires['Fire Size Rank'] = ''
for index, rows in wildfires2.iterrows():
  size_fire = wildfires2.at[index, 'AcresBurned']
  if size_fire >= 0 and size_fire <= 0.25:
    size_class = 'A'
  elif size_fire > 0.25 and size_fire <= 9.9:
    size_class = 'B'
  elif size_fire > 9.9 and size_fire <= 99.9:
    size_class = 'C'
  elif size_fire > 99.9 and size_fire <= 299:
    size_class = 'D'
  elif size_fire > 299 and size_fire <= 999:
    size_class = 'E'
  elif size_fire > 1000 and size_fire <= 4999:
    size_class = 'F'
  elif size_fire > 4999:
    size_class = 'G'
  wildfires2.at[index,'Fire Size Rank'] = size_class

In [ ]:
#Next steps
#1. drop NaN values
#2. Map longtitude and latitude to zip code of the wildfire
#3. Add in NOAA weather features

In [ ]:
#Feature Engineering

#zipcode - get from 
#Population of zip code - does presence humans affect wildfires?
#information on snowfall

#month began

#monthly percipitation

#average temperatures
#days exceeding 90

#Some kind of way to determine if an area has already burned. A largely burned area is less likely to burn in future years
#build a function to see if a wildfire was in the area within the past x amount of years (use latitude and longitude w acres burned)
#rec areae

Adding Additional Features to the Dataset

In [ ]:
#Write a function that gives fire's US zip code given coordinates in longitude and latitude
#Help from stack overflow: https://gis.stackexchange.com/questions/352961/convert-lat-lon-to-zip-postal-code-using-python
import geopy as gp
from geopy import Nominatim

def coordinates_to_zipcode(lat, long, geolocater):
  location = geolocater.reverse((lat, long))
  if 'postcode' in location.raw['address'].keys():
    #print(location)
    return location.raw['address']['postcode']
  else:
    #print('None')
    return 'NaN'

geolocater = gp.Nominatim(user_agent='my-application')
print(coordinates_to_zipcode(40.036944, -121.005833, geolocater))

In [ ]:
wildfires['ZIP'] = ''
for index, row in wildfires.iterrows():
  wildfires.at[index,'ZIP'] = coordinates_to_zipcode(wildfires.at[index,'LATITUDE'], wildfires.at[index,'LONGITUDE'], geolocater)

In [ ]:
print(wildfires['ZIP'])